/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, ul, li, input, h1, h2, h3, span, p, a, select, canvas {
   margin: 0;
   padding: 0;
   line-height: inherit;
   text-decoration: none;
   box-sizing: border-box;
 }

 header, .content {
   width: 820px;;
   margin: 0 auto;
   text-align: center;
 }

 .content {
   margin-top: 20px;
 }

 .tuner {
   text-align: left;
   float: left;
 }

 .waveform-selector {
   text-align: right;
   float: right;
 }

 .controls {
   margin-bottom: 15px;
   padding: 0 10px;
 }

 .waveform-selector select {
   text-align: right;
 }

 header h1 {
   font-size: 2.333em;
 }

header h1 .freq, .content h3 {
  font-family: "Lora", serif;
}

header h1 .keys, select {
  font-family: "Lato", sans-serif;
}

header h2, .key {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.content select {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
  background: none;
  appearance: none;
  -webkit-appearance: searchfield;
  -webkit-border-radius: 0;
  -moz-appearance: none;
}

.content select option {
  padding: 0px;
}

.keys {
  width: 802px;
  position: relative;
  margin: auto;
  position: relative;
}

.key {
  width: 100px;
  height: 300px;
  background: transparent;
  border: 1px solid black;
  float:left;
  text-align: center;
  z-index: 2;
  position: relative;
  text-transform: lowercase;
}

.group:after {
  content: "";
  clear: both;
  display:block;
}


.CS3, .DS3, .FS3, .GS3, .AS3 {
  background: black;
  color: white;
  height: 150px;
  width: 50px;
  position: absolute;
  z-index: 3;
}

.CS3 {
  left: 75px;
}

.DS3 {
  left: 175px;
}

.FS3 {
  left: 375px;
}

.GS3 {
  left: 475px;
}

.AS3 {
  left: 575px;
}

.pressed {
  border-style: inset;
  background: rgba(128, 128, 128, 0.5);;
  opacity: 50%;
}

.keys:focus {
  /*border: 1px solid yellow;*/
}

.absolute-position-behind {
  position: absolute;
  z-index: 0;
}

canvas#oscilloscope {
  z-index: -1;
  background: #fff;
}
