/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.keys {
  width: 820px;
  position: relative;
  margin: auto;
}

.key {
  width: 100px;
  height: 300px;
  background: white;
  border: 1px solid black;
  float:left;
  text-align: center;
}

.group:after {
  content: "";
  clear: both;
  display:block;
}


.CS3, .DS3, .FS3, .GS3, .AS3 {
  background: black;
  color: white;
  height: 150px;
  width: 50px;
  position: absolute;
}

.CS3 {
  left: 75px;
}

.DS3 {
  left: 175px;
}

.FS3 {
  left: 375px;
}

.GS3 {
  left: 475px;
}

.AS3 {
  left: 575px;
}

.pressed {
  border-style: inset;
  background: gray;
}

.keys:focus {
  border: 1px solid yellow;
}
